// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~material-design-icons/iconfont/material-icons.css';

@import "~font-awesome/scss/font-awesome.scss";

@import '~@fortawesome/fontawesome-free/css/all.min.css';

.material-icons {
    font-size: 50px;
}

.course-button {
    width: 150px;
}

.dropdown {
    cursor: pointer;
}

.star {
    font-size: 25px;
}

footer, nav {
    height: 60px;
}

.alert-info {
    margin: 8px;
}

.text-crystal {
    color: #69d2f1;
}

.head-link {
    border-bottom: 3px solid rgba(105, 210, 241, 0.4);
}

.trix-button-group.trix-button-group--file-tools {
    display:none;
}

.trix-content {
    min-height: 300px !important;
    overflow-y: auto;
}

#switch-lang {
    padding-left: 11px;
}

a:hover {
    color: #69d2f1;
}

#search {
    position: absolute;
    margin-left: 8px;
    margin-top: 7px;
}

#search-input {
    padding-left: 29px;
    border: none;
    background-color: hsl(220, 12%, 95%);
}

.atom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.customPagination > li > a {
    color: black;
}

.customPagination > li.active > a,
.customPagination > li > a:hover
{
    color: white;
    border: 1px solid #292b2c !important;
    background-color: #292b2c !important;
}

td, th {
    width: 300px;
    height: 40px;
    text-align: center;
}

table .btn {
    border: none;
}

tr:hover {
    cursor: pointer;
    background-color: rgb(238, 245, 250);
    padding: 15px 12px;
}

#search-form {
    margin-bottom: 25px;
}

#search-form input {
    width: 250px;
}

#panel-pagination {
    margin-bottom: -25px
}

.btn-modify {
    margin-left: 8px;
}
