// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~datatables.net-dt';

// Icons
@import '~material-design-icons/iconfont/material-icons.css';

@import "~font-awesome/scss/font-awesome.scss";

.material-icons {
    font-size: 50px;
}

.course-button {
    width: 150px;
}

.dropdown {
    cursor: pointer;
}

.star {
    font-size: 25px;
}
